.my-btn{
	padding: 5px;
	border: 2px solid #717171;
	border-radius: 7%;
	text-decoration: none;
	background: #eee;
	color: #000;
	margin: 2px;
}
#up:hover, #up:active, #up:focus, 
#up:after, .active{
	background: #717171;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
