<!-- Main panel -->


<div class="panel panel-default"  ng-controller="MainPanelCtrl">
	<div class="panel-body">
		<div class="btn-group"  data-ng-repeat="item in items" >
			<a class="my-btn" id="up" data-ui-sref="{{item.url}}" data-ui-sref-active="active">{{item.name}}</a>
		</div>
	</div> 
</div>


