<div>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX75Vw_6NAZhKyqbe9UwhPYJEIqqlQPgcAhAzQTHbmp9LX8em0MQ" alt="cat">
</div>


<!-- ......................................................... -->


<!-- 
Полезные ссылки:
	* справочник по формам - https://docs.angularjs.org/api/ng/type/form.FormController 
	* валидация e-mail - https://habrahabr.ru/post/175375/
	* валилация номера телефона - https://toster.ru/q/84360
 -->

 
<form name="vm.accountForm" novalidate>
	<div class="form-group">
		<label>Имя</label>
		<input class="form-control" data-ng-model="vm.newUser.firstName" type="text" placeholder="Имя" required ng-minlength="3" name="userFirstName">
	</div>	

	<div ng-messages="vm.accountForm.userFirstName.$error" ng-if="vm.accountForm.userFirstName.$dirty">
		<div ng-message="required" class="alert alert-danger" role="alert">Это поле обязательно для заполнения</div>
		<div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>
	</div>

	<!-- ... -->
	
	<div class="form-group">
		<label>Фамилия</label>
		<input class="form-control" data-ng-model="vm.newUser.lastName" type="text" placeholder="Фамилия" required ng-minlength="3" name="userLastName">
	</div>	

	<div ng-messages="vm.accountForm.userLastName.$error" ng-if="vm.accountForm.userLastName.$dirty">
		<div ng-message="required" class="alert alert-danger" role="alert">Это поле обязательно для заполнения</div>
		<div ng-message="minlength" class="alert alert-danger" role="alert">Фамилия слишком короткая</div>
	</div>

	<!-- ... -->
		
	<div class="form-group">
		<label>Отчество</label>
		<input class="form-control" data-ng-model="vm.newUser.middleName" type="text" placeholder="Отчество" required ng-minlength="3" name="userMiddleName">
	</div>	

	<div ng-messages="vm.accountForm.userMiddleName.$error" ng-if="vm.accountForm.userMiddleName.$dirty">
		<div ng-message="minlength" class="alert alert-danger" role="alert">Отчество слишком короткое</div>
	</div>

	<!-- ... -->

	<div class="form-group">
		<label>E-mail</label>
		<input class="form-control" data-ng-model="vm.newUser.email" type="text" placeholder="address@mail.ru" required data-ng-pattern="/.+@.+\..+/i" name="userEmail">
	</div>	

	<div ng-messages="vm.accountForm.userEmail.$error" ng-if="vm.accountForm.userEmail.$dirty">
		<div ng-message="required" class="alert alert-danger" role="alert">Это поле обязательно для заполнения</div>
		<div ng-message="pattern" class="alert alert-danger">Не правильно указан E-mail</div>
	</div>

	<!-- ... -->

	<div class="form-group">
		<label>Телефон</label>
		<input class="form-control" data-ng-model="vm.newUser.phone" type="text" placeholder="+7-999-999-99-99" required data-ng-pattern="/^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/" name="userPhone">
	</div>

	<div ng-messages="vm.accountForm.userPhone.$error" ng-if="vm.accountForm.userPhone.$dirty">
		<div ng-message="required" class="alert alert-danger" role="alert">Это поле обязательно для заполнения</div>
		<div ng-message="pattern" class="alert alert-danger">Не правильно указан номер телефона</div>
	</div>
</form>



<!-- ......................................................... -->